:root {
    --gray: #CCd6F6;
    --aqua: rgb(94 234 212);
    --dark:rgba(15, 23, 42, 10);
  }


.aqua{
    color: var(--aqua);
}


/* Navbar */
.align-items-center{
    justify-content: center;
}

.navbar-nav{
    margin-right: 0;
    margin-left: auto;
}

.nav-background{
    background-color: var(--dark);
}

.navbar-nav a{
    color:var(--gray);
}

.logo{
    max-width: 70px;
    max-height: 70px;
}

/* Body */
body{
    background-color: var(--dark);
    color:var(--gray);
    margin-left: auto;
    margin-right: auto;
}

main{
    margin: 3rem auto 0 auto
}
.margin-top{
    margin-top: 7rem;
}

.list-group-item{
    color: var(--gray);
    background-color: var(--dark);
    border: none;
}


