:root {
    --gray: #CCd6F6;
    --aqua: rgb(94 234 212);
    --dark:rgba(15, 23, 42, 10);
  }


.aqua{
    color: var(--aqua);
}


/* Navbar */
.align-items-center{
    justify-content: center;
}

.navbar-nav{
    margin-right: 0;
    margin-left: auto;
}


.navbar-nav a:hover{
    color: var(--aqua);
}

.nav-background{
    background-color: var(--dark);
}

.navbar-nav a{
    color:var(--gray);
}

.logo{
    max-width: 70px;
    max-height: 70px;
}

/* Body */
body{
    background-color: var(--dark);
    color:var(--gray);
    margin-left: auto;
    margin-right: auto;
}

main{
    margin: 3rem auto 3rem auto
}
.margin-top{
    margin-top: 7rem;
}

.list-group-item{
    color: var(--gray);
    background-color: var(--dark);
    border: none;
}

.list-group-non-b{
    display: flex;
    gap:2rem;
    list-style: none;
}

.list-group-non-b-item{
    
    color: rgb(94 234 212);
    background-color: rgba(94, 234, 212, 0.2);
    border-radius: 1rem;
    padding: 0.55rem;
}

.contact-email-button{
color: rgb(94 234 212);
border: 1px solid rgb(94 234 212);
border-radius: 1rem;
padding: 0.55rem;
text-decoration: none;
}
.card{
    background-color: var(--dark);
    color: var(--gray);
}

.card a:hover{
    background-color: rgba(94, 234, 212, 0.2);
}
.card-img-top{
    height: 150px;
}

footer a{
    text-decoration: none;
}

footer a:hover{
    box-shadow: 0px 5px var(--gray);

}



